body {
    background-color: #f0f0f0; /* Светло-серый фон */
    font-family: Arial, sans-serif; /* Шрифт */
}
/* Контейнер теста */
.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 60%;
    color: black;
}

/* Кнопки */
button {
    background-color: #ff6f61; /* Красный */
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #ff3b2f;
    transform: scale(1.1);
}
/* Вопросы */
.question {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Результат */
#result {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 60%;
    color: black;
}

/* Скрытый блок */
.hidden {
    display: none;
}
